<div class="container">
  <div class="column is-centered">
    <h1>Password Generator</h1>
    <div class="field">
      <label class="label" for="">Enter Length</label>
      <div class="control">
        <input
          class="input"
          (input)="onChangeLength($event.target.value)"
          type="text"
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="">Use Letters</label>
      <div class="control">
        <input
          class="checkbox"
          (change)="onChangeUseLetters()"
          type="checkbox"
        />
      </div>
    </div>
    <div class="field">
      <label class="label" for="">Use Numbers</label>
      <div class="control">
        <input
          class="checkbox"
          (change)="onChangeUseNumbers()"
          type="checkbox"
        />
      </div>
    </div>
    <div class="field">
      <label class="label" (change)="onChangeUseSymbols()" for=""
        >Use Symbols</label
      >
      <div class="control">
        <input class="input" type="checkbox" />
      </div>
    </div>
    <div class="field">
      <button
        class="button is-primary"
        [disabled]="
          !(length && (includeLetters || includeLetters || includeSymbols))
        "
        (click)="onButtonClick()"
      >
        Generate!
      </button>
    </div>

    <div class="box" *ngIf="password">
      <label for="yourPassword">Your Password</label>
      <input class="input" type="text" [value]="password" />
    </div>
  </div>
</div>
